<!--<div class="row">-->
<!--  <div class= "col-lg-6 col-md-6 col-sm-6">-->
<!--    <div class="center jumbotron">-->
<!--      <div class="text-center">-->
<!--        <h1>Welcome to the Chillusion</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-6 col-md-6 col-sm-6">-->
<!--    <div class="center jumbotron">-->
<!--      <div class="text-center">-->
<!--        <h2>Sign up</h2>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

