@charset "utf-8";

html {
  overflow-x: hidden;
}
 /*body */
body {
  overflow-x: hidden; /*横スクロールしない*/
  background: #222222;
  color: #999999;
}
.center {
  margin-top: 30px;
  background: #333333;
  color: #EEEEEE;
}

.media-list {
  margin-bottom: 0;
}
/*.logo {*/
/*  margin-top: 35px;*/
/*  margin-left: 30px;*/
/*}*/
/*.menu {*/
/*  float: right;*/
/*  margin-top: 30px;*/
/*  margin-right: 90px;*/
/*}*/
a {
  color: #F0F0F0;
  background: #222222;
}
a:link {
  color: #F0F0F0;
}
a:visited {
  color: #F0F0F0;
}
a:hover {
  color: #EBEBEB;
  background: #222222;
}
a:active {
  color: #EBEBEB;
}
.thumbnail {
  /*background-image: url("/images/logo.png");  */
    /*width:  300px;       */
    /*height: 300px;       */
    /*border-radius: 50%;  */
}

.thum {
  border-radius: 50%;
  width: 100%;
}

.thum-media-profile {
  border-radius: 50%;
  width: 10%;
  display: inline;
}

.user-name {
  display: inline;
}

.thum-media-comment {
  border-radius: 50%;
  width: 60px;
}

/* .thum-media-left {
  width: 10%;
} */

.media-body-right {
  width: 50%;
}

.work-title {
  width: 75%;
  display: inline;
  float: left;
}
.work-title p {
  width: 100%;
  display: inline;
  text-align: left;
}

.favorite-button {
  display: inline;
  float: right;
}

.favorite-button .new_favorite{
  display: inline;
  text-align: right;
}

.favorites,
.groups {
   margin-top: 20px;
}

div .center .jumbotron {
  height: 500px;
}

@media (min-width: 768px) {
  .favorites,
  .groups {
     margin-top: 100px;
  }
  .ai {
    height: 520px;
  }
  .thum-media-profile {
    height: 33.5px;
    width: 33.5px;
  }
}
@media (min-width: 992px) {
  .favorites,
  .groups {
     margin-top: 100px;
  }
  .ai {
    height: 520px;
  }
}
@media (min-width: 1200px) {
  .favorites,
  .groups {
     margin-top: 100px;
  }
  .ai {
    height: 520px;
  }
}

.head{
  margin-top: 10px;
  margin-left: 0px;
}

.menu{
  margin-top: 5px;
}

@media (min-width: 768px) {
  .head{
    margin-top: 20px;
  }
  .menu{
    margin-top: 10px;
  }
}
.video {
  display: block;
  width: 512px;
  height: 312px;
}
@media (max-width: 768px) {
  .video{
    display: block;
    width: 330px;
    height: 228px;
  }
}



/*.user_show {*/
/*  width: 1200px;*/
/*  height: 600px;*/
/*  margin: 0 auto;*/
/*}*/
/*.user {*/
/*  position: relative;*/
/*  top: 100px;*/
/*	left: 400px;*/
/*	width:  300px;       */
/*  height: 300px;*/
/*}*/
/*.user_profile{*/
/*  position: relative;*/
/*}*/
/*.followings{*/
/*  position: relative;*/
/*  bottom: 260px;*/
/*  right: 50px;*/
/*  width: 750px;*/
/*  height: 750px;*/
/*}*/
/*.followers{*/
/*  position: relative;*/
/*  bottom: 1000px;*/
/*  left: 400px;*/
/*  width: 750px;*/
/*  height: 750px;*/
/*}*/
/*.favorites{*/
/*  position: relative;*/
/*  bottom: 1540px;*/
/*  right: 150px;*/
/*  width: 750px;*/
/*  height: 750px;*/
/*}*/
/*.groups{*/
/*  position: relative;*/
/*  bottom: 2280px;*/
/*  left: 500px;*/
/*  width: 750px;*/
/*  height: 750px;*/
/*}*/

/*.caption {*/
/*  font-size: 12px;*/
/*}*/
