@charset "utf-8";

/* body */
body {
  background: #222222;
  color: #999999;
}
.center {
  margin-top: 15px;
  background: #333333;
  color: #EEEEEE;
}
a {
  color: #F0F0F0;
  background: #222222;
}
a:link {
  color: #F0F0F0;
}
a:visited {
  color: #F0F0F0;
}
a:hover {
  color: #EBEBEB;
  background: #222222;
}
a:active {
  color: #EBEBEB;
}