<header>
  <!--<nav class="navbar navbar-inverse navbar-static-top">-->
  <!--  <div class="container">-->
  <!--    <div class="navbar-header">-->
  <!--      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
  <!--        <span class="sr-only">Toggle navigation</span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--        <span class="icon-bar"></span>-->
  <!--      </button>-->
  <!--      <a class="navbar-left" href="/"><img src="/images/logo.png" alt="Chillusion" width="10%" height="10%"></a>-->
  <!--    </div>-->
  <!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
  <!--      <ul class="nav navbar-nav navbar-right">-->
  <!--        <li><a href="#">Signup</a></li>-->
  <!--        <li><a href="#">Login</a></li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</nav>-->
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
      <div class="logo">
        <a class="navbar-left" href="/"><img src="/images/logo.png" alt="Chillusion" width="50%" height="50%"></a>
      </div>
    </div>
    <div class="col-lg-2 col-lg-offset-8 col-md-2 col-md-offset-7 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-5">
      <div class="menu">
        <a href="#">Login</a>
      </div>
    </div>
  </div>
  
  
  
</header>
